<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- MACRO DE TRANSMISSION GENERIQUE -->
  <xacro:macro name="effort_transmission" params="joint_name">
    <transmission name="trans_${joint_name}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor_${joint_name}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- APPLICATION DE LA MACRO AUX 14 MOTEURS -->
  <xacro:effort_transmission joint_name="FL_HAA"/>
  <xacro:effort_transmission joint_name="FL_HFE"/>
  <xacro:effort_transmission joint_name="FL_KFE"/>

  <xacro:effort_transmission joint_name="FR_HAA"/>
  <xacro:effort_transmission joint_name="FR_HFE"/>
  <xacro:effort_transmission joint_name="FR_KFE"/>

  <xacro:effort_transmission joint_name="HL_HAA"/>
  <xacro:effort_transmission joint_name="HL_HFE"/>
  <xacro:effort_transmission joint_name="HL_KFE"/>
  <xacro:effort_transmission joint_name="HL_AFE"/>

  <xacro:effort_transmission joint_name="HR_HAA"/>
  <xacro:effort_transmission joint_name="HR_HFE"/>
  <xacro:effort_transmission joint_name="HR_KFE"/>
  <xacro:effort_transmission joint_name="HR_AFE"/>

</robot>
