<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <param name="robot_description" textfile="$(find mitacs)/ContinuO_URDF/urdf/ContinuO_lidar.urdf" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-param robot_description
              -urdf
              -model ContinuO
              -x 0.0 -y 0.0 -z 0.70      
              -R 0.0 -P 0.0 -Y 0.0
              -J FL_HAA 0.0  -J FR_HAA 0.0  -J HL_HAA 0.0  -J HR_HAA 0.0
              -J FL_HFE 0.30 -J FR_HFE 0.30 -J HL_HFE -0.05 -J HR_HFE -0.05
              -J FL_KFE -0.60 -J FR_KFE -0.60 -J HL_KFE 0.45  -J HR_KFE 0.45
              -J HL_AFE -0.40 -J HR_AFE -0.40"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="odom_to_tf" pkg="mitacs" type="odom_to_tf.py" output="screen" />

  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find mitacs)/config/elevation_mapping_ouster.yaml" />
  </node>

  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find mitacs)/config/grid_map_visualization.yaml" />
  </node>
  <node name="rviz" pkg="rviz" type="rviz" output="screen" />
  <node name="rl_grid_extractor" pkg="mitacs" type="rl_grid_extractor.py" output="screen" />


  <rosparam file="$(find mitacs)/config/ros_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller FL_HAA_position_controller FL_HFE_position_controller FL_KFE_position_controller FR_HAA_position_controller FR_HFE_position_controller FR_KFE_position_controller HL_HAA_position_controller HL_AFE_position_controller HL_HFE_position_controller HL_KFE_position_controller HR_HAA_position_controller HR_AFE_position_controller HR_HFE_position_controller HR_KFE_position_controller"/>

  <!-- Load Policy Profiles config under node namespace -->
  <rosparam ns="policy_node_torch" file="$(find mitacs)/config/policies.yaml" command="load"/>

  <!-- Run policy node -->
  <node pkg="mitacs" type="policy_node_torch.py" name="policy_node_torch" output="screen">
    <param name="policy_profile" value="policy_onnx_flat_v1"/>
    <param name="debug_obs" value="true"/>
    <param name="rate"         value="50.0"/>
    <param name="output_topic" value="/joint_targets_rl"/>
    <param name="action_gain"  value="1.0"/>
    <param name="clamp_deg"    value="35.0"/>
    <param name="smooth_alpha" value="0.25"/>
    <param name="autonomous_mode" value="true"/>
    <param name="auto_cmd_type" value="constant"/>
    <param name="auto_x_m" value="0.2"/>
    <param name="auto_y_m" value="0.0"/>
    <param name="auto_wz"  value="0.0"/>
    <param name="auto_cycle_s" value="6.0"/>
    <param name="cmd_vel_threshold" value="0.01"/>
    <param name="scale_by_cmd" value="true"/>
    <param name="obs_center_q0" value="true"/>
    <param name="flip_gravity_sign" value="false"/>
    <param name="imu_use_R_transpose" value="true"/>
    <param name="use_odom" value="false"/>
    <param name="use_gazebo_link_states" value="true"/>
    <param name="base_link_name" value="base"/>
  </node>

  <!-- Run relay node -->
  <node pkg="mitacs" type="policy_to_controllers.py" name="policy_to_controllers" output="screen"/>
</launch>
