<launch>
  <arg name="fake" default="false"
    doc="Set to true to run with fake observation data instead of real robot drivers" />

  <include file="$(find f_quadruped_control)/launch/gazebo.launch" />
  <include file="$(find f_quadruped_control)/launch/spawn_control.launch" />

  <node name="odom_to_tf" pkg="mitacs" type="odom_to_tf.py" output="screen" />

  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find mitacs)/config/elevation_mapping_ouster.yaml" />
  </node>
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization"
    output="screen">
    <rosparam command="load" file="$(find mitacs)/config/grid_map_visualization.yaml" />
  </node>
  <node name="rl_grid_extractor" pkg="mitacs" type="rl_grid_extractor.py" output="screen" />

  <node pkg="f_quadruped_control" type="policy_node.py" name="policy_node" output="screen" />
  <node pkg="f_quadruped_control" type="policy_to_controllers.py" name="policy_to_controllers"
    output="screen" />


  <!--<node
  pkg="f_quadruped_monitoring" type="commands_visu_node.py" name="visu_node" output="screen" />-->
  <!--<node
  name="rviz" pkg="rviz" type="rviz" output="screen" />-->
  <!--<node
  pkg="f_quadruped_control" type="quadruped_fake_obs_datas.py" name="quadruped_fake_obs_datas_node"
  output="screen">
    <param name="publish_hz" value="10.0" />
    <param name="loop" value="true" />
  </node>-->
</launch>
