<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <param name="robot_description" textfile="$(find mitacs)/ContinuO_URDF/urdf/ContinuO_lidar.urdf" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-param robot_description -urdf -model ContinuO -z 0.5" output="screen" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="odom_to_tf" pkg="mitacs" type="odom_to_tf.py" output="screen" />

  <node pkg="elevation_mapping" type="elevation_mapping" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find mitacs)/config/elevation_mapping_ouster.yaml" />
  </node>

  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find mitacs)/config/grid_map_visualization.yaml" />
  </node>
    <node name="rviz" pkg="rviz" type="rviz" output="screen" />
</launch>
