<launch>
  <arg name="sensor_hostname" default="10.5.5.86" doc="Adresse IP ou hostname du LiDAR Ouster" />
  <arg name="viz" default="true" doc="Activer l'affichage graphique RViz" />

  <include file="$(find ouster_ros)/launch/sensor.launch">
    <arg name="sensor_hostname" value="$(arg sensor_hostname)" />
    <arg name="viz" value="$(arg viz)" />
  </include>

  <node name="lidar_relay_node" pkg="topic_tools" type="relay" args="/ouster/points /lidar_relay" output="screen" />

  <node name="elevation_mapper_node" pkg="mitacs" type="elevation_mapper.py" output="screen" />
</launch>
